@model QuanLyNhanSu.Models.LuongBac1

@{
    ViewBag.Title = "Sửa hệ số lương";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="">
        <h1 class="page-header">
            Cập nhật hệ số  lương 
        </h1>
    </div>
</div>
<div class="">
    <div class=" col-md-6 col-md-offset-3">
        @Html.AntiForgeryToken()
        <form class="form-horizontal" method="post" role="form">

            <div class="form-group hidden">
                <div class="col-sm-4 control-label">
                    <label>Mã Chức vụ</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="id"
                           class="form-control"
                           maxlength="20"
                           value="@Model.id"
                           required />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(n => n.id)
                    </label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label>Tên Chức vụ</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="HeSo"
                           class="form-control"
                           maxlength="20"
                           value="@Model.HeSo"
                           required />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(n => n.HeSo)
                    </label>
                    @*@ViewBag.MaNhanVien*@
                </div>
            </div>  
            <div class="form-group">
                <div class=" col-sm-offset-4 col-sm-5">
                    <input type="submit" value="Lưu thay đổi" class="btn custom-btn" />
                </div>
            </div>
        </form>

    </div>
</div>
<div class="clearfix"></div>

