@using QuanLyNhanSu.Models
@model LuongBac1

@{
    ViewBag.Title = "Thêm hệ số lương";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="">
        <h1 class="page-header">
            Thêm hệ số lương
        </h1>
    </div>
</div>
<form class="form-horizontal" role="form" method="post">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="control-label col-md-offset-1 col-md-4 col-sm-4">
            <label>Hệ số lương</label>
        </div>
        <div class="col-md-4 col-sm-8">
            <input type="text" name="HeSo"
                   class="form-control"
                   id="HeSo"
                   value="@Model.HeSo"
                   required />

        </div>
        <div class="col-sm-offset-4 col-sm-5" style="height:15px">
            <label class="control-label text-danger">

                @Html.ValidationMessageFor(n => n.HeSo)
            </label>
        </div>

    </div>

    <div class="form-group">
        <div class="  col-md-offset-5 col-sm-offset-4 col-sm-5">
            <input type="submit" value="Thêm hệ số lương" class="btn custom-btn" />
            <a class="btn custom-btn" href="@Url.Action("index", "HeSoLuong")">Quay về</a>
        </div>
    </div>
</form>


